html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: #98a7bb;
}

.page_wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.head_wrap {
    width: 100%;
    height: 48px;
}

.head_split {
    max-width: 1010px;
    margin: 0 auto;
    height: 48px;
    background: #6497be;
}

.head_logo_wrap {
    float: left;
    width: 31%;
    height: 48px;
}

.head_logo_wrap:hover {
    background-color: #355d7c;
}

.head_btn {
    padding: 17px 20px 15px 22px;
    display: block;
}

.icon_hamburger_wrap {
    margin: 0 40px 0 0;
    display: inline-block;
    width: 18px;
    height: 14px;
}

.icon_hamburger_wrap .icon-bar {
    background: #FFF;
    display: block;
    height: 2px;
    margin: 0;
}

.icon_hamburger_wrap .icon-bar:nth-child(2) {
    margin-top: 4px;
    margin-bottom: 4px;
}

.icon-title {
    width: 64px;
    height: 14px;
    display: inline-block;
    position: absolute;
    background-image: url("https://web.telegram.org/img/Telegram.svg");
    margin-top: 1px;
}

.head_main_wrap {
    float: left;
    width: 69%;
    height: 48px;
}

.head_peer {
    float: right;
    height: 48px;
}

.head_peer:hover {
    background-color: #355d7c;
}

.head_peer .icon-bar {
    display: block;
    background-color: #d7e5f0;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    margin-left: 3px;
    margin-right: 3px;
}

.head_peer .icon-bar:nth-child(2) {
    margin-top: 2px;
    margin-bottom: 2px;
}

.icon-search {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url("https://web.telegram.org/img/icons/IconsetW.png");
    background-position: -12px -1037px;
    opacity: 0.9;
}

.head_main {
    width: 585px;
    height: 48px;
}

.head_main:hover {
    background-color: #355d7c;
}

.head_peer_info {
    display: block;
    display: inline-block;
    color: #FFF;
    margin-right: 3px;
    overflow: hidden;
    font-size: 13px;
}

.head_peer_title {
    font-weight: bold;
}

.head_peer_status {
    color: #B9CFE3;
}

.body_wrap {
    background-color: #FFF;
    width: 100%;
    max-width: 1010px;
    height: 92%;
    margin: 0 auto;
    box-shadow: 0px 1px 0 #DFE5EC;
    border-radius: 0 0 3px 3px;
    border-left: 1px solid #DFE5EC;
    border-right: 1px solid #DFE5EC;
    border-bottom: 1px solid #DFE5EC;
    overflow: hidden;
    display: flex;
}

.dialogues_wrap {
    float: left;
    max-width: 310px;
    border-right: 2px solid #E9EBED;
    padding-bottom: 10px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.dialogues_search_wrap {
    padding: 12px;
}

.dialogues_search {
    position: relative;
    width: 286px;
    height: 34px;
}

.search_input {
    width: 286px;
    height: 34px;
    -webkit-appearance: none;
    font-size: 12px;
    line-height: normal;
    border: 1px solid #e4b8b8;
    border-radius: 2px;
    padding: 6px 26px 6px 30px;
    margin: 0;
    background-color: #F2F2F2;
    background-image: url("https://web.telegram.org/img/icons/IconsetW.png");
    background-repeat: no-repeat;
    background-position: -6px -205px;
    outline: none;
}

.search_input::placeholder {
    color: rgb(160, 160, 160);
}

.search_input:focus {
    background-color: #FFF;
}

.dialogues_list {
    height: 780px;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    height: inherit;
}

.dialogue_wrap {
    height: 62px;
}

.dialogue_wrap:hover {
    background-color: #6cccd4;
}

.dialogue {
    padding: 7px 18px 7px 16px;
    margin-right: -2px;
}

.dialogue_date_wrap {
    float: right !important;
    text-align: right;
    overflow: hidden;
}

.dialogue_date {
    color: #947c7c;
}

.dialogue_photo_wrap {
    margin-right: 14px;
    float: left !important;
    overflow: hidden;
}

.dialogue_photo {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.dialogue_peer {
    margin-top: 3px;
    color: #000;
    font-weight: 500;
}

.dialogues_wrap .active {
    background-color: #a8b8c5;
}

.history_wrap {
    float: left;
    width: 69%;
    height: 100%;
    position: relative;
}

.history_split {
    width: 100%;
    max-height: 85%;
    position: absolute;
    bottom:0;
}

.history_wall {
    height: 85%;
    overflow: auto;
    margin-bottom: 50px;
}

.history_messages_wrap {
    width: 100%;
    height: 90%;
    margin-top: 100px;
}

.time_text {
    margin: 0;
    text-align: center;
    color: rgb(160, 160, 160);
}

.history_message_wrap {
    max-width: 560px;
    min-height: 50px;
    padding: 0 20px 0 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
}

.history_photo_wrap {
    flex-grow: 1;
}

.message_body_wrap {
    flex-grow: 15;
}

.message_author {
    margin: 1px 0 4px;
    display: inline-block;
    font-weight: 700;
}

.message_author a {
    text-decoration: none;
    color: #3A6D99;
}

.message_body {
    box-sizing: border-box;
    font-size: 13px;
}

.message_date_wrap {
    float: right !important;
    text-align: right;
    flex-grow: 1;
}

.message_date {
    color: #ADADAD;
}

.message_form_wrap {
    max-width: 554px;
    padding: 10px 15px 30px;
    margin: 0 auto;
    height: 97px;
}

.message_form {
    height: 97px;
}

.message_form_friend_photo_wrap {
    margin-left: 20px;
    float: right !important;
}

.message_form_own_photo_wrap {
    margin-right: 18px;
    float: left !important;
}

.send_form {
    max-width: 382px;
    left: 70px;
    right: 72px;
    margin: 0 auto;
}

.send_field_wrap {
    margin-bottom: 13px;
    padding-bottom: 2px;
    overflow-x: hidden;
    position: relative;
}

.emoji {
    z-index: 1;
    position: absolute;
    right: 3px;
    top: 2px;
    cursor: pointer;
    width: 22px;
    height: 22px;
    vertical-align: top;
    float: right !important;
    background-image: url("https://web.telegram.org/img/icons/General.png");
    background-repeat: no-repeat;
    background-position: -9px -335px;
}

.emoji:hover {
    background-position: -9px -367px;
}

.send_form_textarea {
    resize: none;
    border-radius: 0;
    border: 0;
    outline: none;  
    box-shadow: 0 1px 0 0 #e8e8e8;
    padding: 1px 28px 1px 0;
    position: relative;
    margin: 0;
    width: 100%;
    min-height: 48px;
    line-height: 20px;
    height: auto;
    box-sizing: border-box;
}

.send_form_textarea:focus {
    box-shadow: 0 2px 0 0 #c78b63;
}

.icon-paperclip {
    float: left;
    width: 18px;
    height: 17px;
    vertical-align: top;
    opacity: 0.8;
    margin: 0;
    margin-right: 30px;
    background-image: url("https://web.telegram.org/img/icons/General.png");
    background-repeat: no-repeat;
    background-position: -11px -455px;
    cursor: pointer;
}

.icon-camera {
    float: left;
    width: 20px;
    height: 18px;
    vertical-align: top;
    opacity: 0.8;
    margin-right: 30px;
    background-image: url("https://web.telegram.org/img/icons/General.png");
    background-repeat: no-repeat;
    background-position: -10px -399px;
    cursor: pointer;
}

.send_form_submit {
    float: right;
    color: #0c92f1;
    font-size: 13px;
    line-height: 18px;  
    height: 18px;
    border-radius: 0;
    float: right;
    min-width: 0;
    margin-top: 5px;
    margin-left: 10px;
    width: auto;
    padding: 0;
    font-weight: bold;
    cursor: pointer;
}

.send_form_submit:hover {
    color: #4d4cad;
}